*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ol, ul, li {
    list-style: none;
}
:root{
    --primary-color: #f5cf06;
    --secundary-color: #8e4106;
}
body{
    height: 100vh;
    background-color: var(--primary-color);  
    padding: 70px;      
    font-family: Righteous, sans-serif;             
    display: flex;
    flex-direction: column; 
}
header {
    display: flex;
    align-items: center;
    gap: 16px;
}
header span {
    font-size: 32px;
    color: var(--secundary-color);
}
main{
    background-color: var(--primary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.sombra{
    font-size: 600px;
    position: absolute;
    color: #ffffff55;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}
h1{
    justify-content: center;
    align-items: center;
    font-size: 350px;
    color: white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 65vh;
    z-index: 1;
}
.descricao h2{
    font-size: 64px;
    color: var(--secundary-color);

}
.descricao p{
    font-size: 20px;;
    color: var(--secundary-color);
    width: 490px;
}
.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
footer{
    display: flex;
    justify-content: center;
    color: var(--secundary-color);
}
.container{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.container a{
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    border-radius: 20px;
    
}
a{
    color: #ffffff;
}