*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ol, ul, li {
    list-style: none;
}
:root{
    --primary-color: #f5cf06;
    --secundary-color: #8e4106;
}
body{
    height: 100vh;
    background-color: var(--primary-color);  
    padding: 70px;      
    font-family: Righteous, sans-serif;              
}
header {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: aqua;
}
header span {
    font-size: 32px;
    color: var(--secundary-color);
}